Repository Kernel360/KDEV5-MY-WORK-FE, pull requests merged in 2025-06, with the labels that each got.

#198 [chore] 이슈 템플릿 작성 및 등록(#197)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: 📚 Docs, 🎀 Yeju

#214 접근권한 페이지 404,403 공통페이지 설정 추가
  src/api/api.js
  src/components/common/errorPage/ForbiddenPage.jsx
  src/components/common/errorPage/NotFoundPage.jsx
  src/components/common/protectedRoute/ProtectedRoute.jsx
  src/features/project/pages/ProjectDetailPage.jsx
  src/routes/MainRoutes.jsx
Labels: ✨ Feature, 🔄 Common

#219 [feat] 프로젝트 상세 새글작성 버튼,프로젝트 스탭 리디자인 #216
  src/components/common/sectionTable/SectionTable.jsx
  src/features/project/post/components/PostTable.jsx
Labels: 📅 Project

#222 회사 상세 정보에 직원리스트 호출 API 변경 #220
  src/api/member.js
  src/features/company/pages/CompanyDetailPage.jsx
Labels: 🐞 Bug, 🏢 Company

#246 refactor : 상세보기 팝업 필드 타입 상수 추가 (#245)
  src/features/logs/components/LogsTable.jsx
Labels: 🐞 Bug, ActivityLog

#265 [fix] 내 프로젝트 조회 API 수정 #264
  src/api/project.js
  src/features/project/home/pages/ProjectPage.jsx
  src/features/project/slices/projectSlice.js
Labels: 📅 Project

#296 [chore] 대시보드 summary 리팩토링 영향 api 주소 변경 #295
  src/api/dashboard.js
Labels: 📊 Dashboard

#310 fix: 프로젝트 상세 상태,가격 필드 추가 #309
  src/features/project/home/components/ProjectBasicInfoSectionContent.jsx
  src/features/project/home/hooks/useProjectDetailSections.jsx
  src/features/project/home/pages/ProjectDetailPage.jsx
Labels: 📅 Project
