Repository Kernel360/KDEV5-MY-WORK-FE, pull requests merged in 2025-07, with the labels that each got.

#328 fix : 업체 생성시에 누락된 필드 추가 # 327
  src/features/company/components/CompanyForm.jsx
Labels: 🏢 Company

#334 feat : 첨부파일 활성화 API 명세 변경 부분 적용 (#332)
  src/api/post.js
  src/features/project/post/components/CreatePostDrawer.jsx
  src/features/project/post/postSlice.js
Labels: 🧾 ActivityLog

#338 feat: 회사 생성시 중복 사업자번호 알럿 노출 #337
  src/features/company/pages/CompanyFormPage.jsx
Labels: 🏢 Company

#347 feat : 읽지않은 알림 디자인 변경 (#346)
  src/features/notifications/components/NotificationContentBox.jsx
  src/features/notifications/components/NotificationsDrawer.jsx
Labels: 🔔 Notification

#349 fix : post삭제 생성시 페이지 이동및 데이터 갱신 추가 #348
  src/features/project/post/components/PostDetailDrawer.jsx
  src/features/project/post/pages/ProjectPostsPage.jsx
Labels: 📝 Post, 📅 Project

#353 feat : company_id 로컬스토리지 저장 제거 및 업체등록 페이지 접속마다 새로 발급
  src/features/company/pages/CompanyFormPage.jsx
Labels: 🏢 Company

#371 feat: 프로젝트 수정시 상태값 분리 api변경 #370
  src/api/project.js
  src/features/project/home/components/ProjectBasicInfoSectionContent.jsx
  src/features/project/home/pages/ProjectDetailPage.jsx
Labels: 📅 Project

#395 feat: 프로젝트 금액 방어추가 #394
  src/features/project/home/components/ProjectBasicInfoSectionContent.jsx
  src/features/project/home/components/ProjectForm.jsx
Labels: 📅 Project

#401 fix : 백엔드 api 호출 주소변경으로 인한 매니저 할당 api수정
  src/api/projectMember.js
  src/features/project/home/components/CompanyMemberList.jsx
  src/features/project/home/components/CompanyMemberSelector.jsx
Labels: 👤 Member, 📅 Project

#415 [refactor] 회원 상세에 삭제 버튼 제거(#358)
  src/features/member/pages/MemberDetailPage.jsx
Labels: 🔧 Refactor, 👤 Member

#433 [feat] : 회사 수정 페이지에서 이미지 업로드 버그 수정
  src/features/company/pages/CompanyFormPage.jsx
  src/hooks/useCompanyImageUpload.js
  src/utils/uploadCompanyImage.js
Labels: 🐞 Bug, 🏢 Company, 🖼️ Image

#435 chore : 403 공통 페이지 수정 알럿으로 대체 #434
  src/api/api.js
  src/layouts/MainLayout.jsx
Labels: 🔄 Common

#446 [refactor] 프로젝트 저장 로직 비동기 개선 및 직원 선택 Autocomplete 리팩토링 (#417)
  src/features/project/home/components/CompanyMemberSectionContent.jsx
  src/features/project/home/hooks/useProjectForm.js
Labels: 🔧 Refactor, 📅 Project

#448 [build] 프로젝트 상세 편집 로직 통일 및 버튼 동기화 main에 반영(#417)
  package-lock.json
  package.json
  src/features/project/home/components/CompanyMemberList.jsx
  src/features/project/home/components/CompanyMemberSectionContent.jsx
  src/features/project/home/components/CompanyMemberSelector.jsx
  src/features/project/home/components/ProjectBasicInfoSectionContent.jsx
  src/features/project/home/components/ProjectStepManager/ProjectStepManager.jsx
  src/features/project/home/hooks/useProjectDetailSections.jsx
  src/features/project/home/hooks/useProjectForm.js
  src/features/project/home/pages/ProjectDetailPage.jsx
  src/features/project/slices/projectMemberSlice.js
Labels: 🔧 Refactor, 📅 Project

#449 [feat] 게시글 상세화면에서 제목·내용 편집 기능 추가(#308)
  src/features/project/post/components/PostDetailTopSection.jsx
  src/features/project/post/pages/PostDetailDrawer.jsx
Labels: ✨ Feature, 📝 Post

#451 [feat] 게시글의 댓글 수정 기능 추가(#450)
  src/features/project/post/components/CommentInput.jsx
  src/features/project/post/components/CommentSection.jsx
Labels: 🔧 Refactor, 📝 Post

#465 feat: 회원삭제 버튼 권한 추가 #464
  src/components/common/customTable/CustomTable.jsx
Labels: 👤 Member

#467 fix : 로그기록 권한 수정 #466
  src/constants/navItems.js
  src/features/project/home/components/ProjectBasicInfoSectionContent.jsx
Labels: 🐞 Bug
